@page "/"
@using BlazorDatasheet
@using BlazorDatasheet.Core
@using BlazorDatasheet.Core.Data
@inject StorageService StorageService
@inject ContainerClient ContainerApi

<PageTitle>Home</PageTitle>

<p><b>WebContainerUrl: </b>@WebContainerUrl</p>
<!-- Show https+http://webcontainer in an iframe -->
@* <iframe src="@WebContainerUrl" width="100%" height="500"></iframe> *@
<div style="flex-grow: 1; overflow: auto;">
    <iframe style="width: 100%; height: 90%;" src="@WebContainerUrl"></iframe>
</div>

@code{
    private string WebContainerUrl = "";
    private string CurrentGUID = "";
    private const string ContainerName = "current-container";

    protected override async Task OnInitializedAsync()
    {
        WebContainerUrl = ContainerApi.GetContainerUrl();
    }

    private async Task CreateRequest()
    {
        // Create a new GUID for the request
        CurrentGUID = Guid.NewGuid().ToString();

        // Write to Blob Storage
        await StorageService.UploadBlobAsync(ContainerName, CurrentGUID, $"Created on {DateTime.UtcNow}");
    }
}