@page "/"
@using BlazorDatasheet
@using BlazorDatasheet.Core
@using BlazorDatasheet.Core.Data
@inject StorageService StorageService
@inject IConfiguration Configuration

<PageTitle>Home</PageTitle>

<p><b>WebContainerUrl: </b>@WebContainerUrl</p>
<div style="flex-grow: 1; overflow: auto;">
    <iframe style="width: 100%; height: 90%;" src="@WebContainerUrl"></iframe>
</div>

@code{
    private string WebContainerUrl = "";
    private string CurrentGUID = "";
    private const string ContainerName = "current-container";

    protected override void OnInitialized()
    {
        WebContainerUrl = Configuration["ContainerUrl"];
    }

    private async Task CreateRequest()
    {
        // Create a new GUID for the request
        CurrentGUID = Guid.NewGuid().ToString();

        // Write to Blob Storage
        await StorageService.UploadBlobAsync(ContainerName, CurrentGUID, $"Created on {DateTime.UtcNow}");
    }
}